/* variables */
:root {
  --main-font: "Montserrat", sans-serif;
  --main-color: #6e44ff;
  --text-color: #393d3f;
  --lightgrey: #c5c3c6;
  --lightergrey: #e9ecef;
  --green: #4abf98;
  --shadow: 0px 10px 30px 0px #999999;
}

/* global css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.9px;
  outline: none;
}

body {
  width: 80%;
  position: absolute;
  right: 150px;
  top: 0px;
}

/* start of navigation */
/* start of navbar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  width: 100%;
  margin-top: 5px;
}

/* logo */
.logo h4 {
  font-size: 1.8em;
  letter-spacing: 2px;
  color: var(--text-color);
  cursor: pointer;
  margin-right: 20px;
}

#logo {
  color: var(--main-color);
  font-size: 40px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin-top: 15px;
}

.nav-links li {
  list-style-type: none;
}

.nav-links li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 1.25em;
  letter-spacing: 1px;
  max-width: 100%;
}

.nav-links li a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--main-color);
  transition: all 0.4s ease-in-out;
}

.nav-links li a:hover::after {
  width: 100%;
  transition: all 0.4s ease-in-out;
}

/* searchbox */
div.searchbox {
  border: 1px solid #c5c3c6;
  padding: 10px 7%;
  border-radius: 8px;
  cursor: text;
}

#search {
  color: var(--lightgrey);
  font-family: var(--main-font);
}

/* cart */
.cart {
  border: 1px solid #c5c3c6;
  border-radius: 8px;
  padding: 10px 4%;
  cursor: text;
}

#zero {
  color: var(--lightgrey);
}

/* profile photo */
.dp {
  border-radius: 8px;
  width: 50px;
  height: 50px;
}
/* end of navigation */

/* start of hero section */
/* sub nav */
.sub-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 20px;
  height: 3vh;
}

.sub-nav li {
  list-style-type: none;
  width: 10%;
}

.sub-nav li a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 18px;
  cursor: unset;
}

.tools-page::after {
  content: "";
  display: block;
  width: 40%;
  height: 1.5px;
  background-color: var(--main-color);
}

/* start of hero-container (grid-layout) */
.hero-container {
  display: grid;
  grid-template-areas: "hero-imgs content";
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px;
}

/* hero images */
.hero-imgs {
  grid-area: hero-imgs;
  display: grid;
  grid-template-rows: 2.5fr 0.4fr;
  gap: 20px;
}
.hero-img img {
  border-radius: 10px;
  cursor: pointer;
}

/* sub images */
.sub-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.sub-imgs > div {
  border-radius: 10px;
}

div.grow img {
  cursor: pointer;
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

div.grow img:hover {
  box-shadow: var(--shadow);
  transition: all 0.5s ease-in-out;
  transform: scale(1.1);
}

/* start of hero-content */
/* heading */
.heading {
  font-size: 50px;
  word-spacing: 2px;
  line-height: 55px;
}

h6 {
  line-height: 70px;
  font-size: 16px;
}

span.purple {
  color: var(--main-color);
  cursor: pointer;
}

/* price & discount (grid layout) */
.content-grid {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 30px;
}

.price {
  height: 65px;
  width: 90px;
  border-radius: 8px;
  background-color: var(--lightergrey);
  padding: 16px;
  font-size: 35px;
  font-weight: 900;
  color: var(--main-color);
  margin-bottom: 40px;
}

sup {
  color: var(--lightgrey);
  font-size: 25px;
}

#discount {
  font-size: 25px;
  font-weight: 900;
  color: var(--green);
}

/* Quantity & CTA */
.cash-out {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}

.quantity {
  height: 90px;
  width: 90px;
  border: 1px solid var(--lightgrey);
  border-radius: 15px;
  margin: 30px 30px 20px 0;
  color: var(--lightgrey);
  font-weight: 900;
  padding: 15px;
}

#two {
  color: var(--text-color);
}

.cta {
  margin-top: 30px;
}

button {
  border: 1px solid var(--lightgrey);
  border-radius: 15px;
  height: 90px;
  width: 260px;
  background-color: var(--main-color);
  color: antiquewhite;
  font-weight: bold;
  font-size: 1.25em;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

button:hover {
  border: 1px solid var(--main-color);
  color: var(--main-color);
  background-color: #fff;
  transition: all 0.4s ease-in-out;
}

button:active {
  border-radius: 15px;
  color: var(--main-color);
  background-color: #fff;
  transform: scale(0.95);
  transition: all 0.1s ease-in-out;
}

/* styling icons */
.sub-nav-icon {
  font-size: 0.8em;
  padding-left: 10px;
  cursor: pointer;
  color: var(--lightgrey);
}

.sub-nav-icon:hover {
  color: var(--main-color);
  transition: all 0.4s ease-in-out;
}

.search-icon {
  font-size: 1em;
  color: var(--lightgrey);
  cursor: pointer;
  transform: translateX(-50px);
}

.basket {
  color: var(--main-color);
  font-size: 1em;
  cursor: pointer;
  transform: translateX(-30px);
}

.more {
  padding: 0;
  font-size: 1em;
  color: var(--lightgrey);
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}

.more:hover {
  color: var(--main-color);
  transform: scale(1.2);
  transition: all 0.4s ease-in-out;
}

/* responsive layout */
@media screen and (max-width: 850px) {
  .nav-links {
    width: 80%;
  }

  .nav-links li a {
    font-size: 1em;
  }
}
